/* Write your CSS here */
.left-nav-container {
  list-style-type: none;
  padding-left: 0px;
}

.left-nav-bg-container {
  margin: 0px;
  background-color: #e2e8f0;
  padding: 20px;
  width: 100%;
}

.left-nav-item-container {
  margin: 10px 0px;
}

.left-nav-heading {
  font-size: 25px;
  color: #475569;
  font-family: 'Roboto';
}

.left-nav-item-desc {
  font-family: 'Roboto';
  color: #475569;
}

.body-bg-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  background-color: #f1f5f9;
  border-left: 5px solid white;
  border-right: 5px solid white;
  padding: 20px;
  width: 100%;
}

.content-heading {
  font-family: 'Roboto';
  color: #475569;
  font-size: 25px;
}

.content-desc {
  font-family: 'Roboto';
  color: #475569;
  line-height: 1.5;
}

.right-nav-bg-container {
  width: 100%;
  padding: 20px;
  background-color: #e2e8f0;
  margin: 0px;
}

.right-nav-Ad {
  color: #475569;
  border: 1px solid #475569;
  font-weight: 500;
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
